{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@Actions": "./src/Actions",
          "@Components": "./src/Components",
          "@Atoms": "./src/Components/Atoms",
          "@Molecules": "./src/Components/Molecules",
          "@Organisms": "./src/Components/Organisms",
          "@Definitions": "./src/Definitions",
          "@Interfaces": "./src/Interfaces",
          "@Pages": "./pages",
          "@Reducers": "./src/Redux/Reducers",
          "@Redux": "./src/Redux",
          "@Services": "./src/Services",
          "@Server": "./server",
          "@Static": "./public/static",
          "@Styled": "./src/Styled"
        }
      }
    ],
  ]
}
