{
    "presets": [
        "next/babel"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./"
                ],
                "alias": {
                    "@Atoms": "./src/Components/Atoms",
                    "@Molecules": "./src/Components/Molecules",
                    "@Organisms": "./src/Components/Organisms",
                    "@Definitions": "./src/Definitions",
                    "@Interfaces": "./src/Interfaces",
                    "@Pages": "./pages",
                    "@Redux": "./src/Redux",
                    "@ReduxModules": "./src/Redux/Modules",
                    "@Static": "./public/static",
                    "@src": "./src"
                }
            }
        ]
    ]
}
